@media(min-width:1300px){
    .navbar{
        height: 45px !important;
    }
    .navbar-branch{
        margin-right: 0px;
    }
   
}
.container-fluid a{
  text-decoration: none;
}
.navbar{

    background-image: linear-gradient(120deg,#3498db,#8e44ad);
}
.form-control{
    width: auto;
}
#search-icon{
  padding: 0px 10px
}
#search-icon i{
  color:  rgb(133, 133, 231);
  padding: 10px 10px;
}
.navbar-branch{
    color: white;  
}
.navbar li a {
    color: white !important;
}
.navbar li a:hover {
    color: black !important;
}
/* resposive nek */
@media (max-width: 992px){
	.carousel-caption {
		top: 20%;
	}
	.carousel-caption h2{
		font-size: 250%;
	}
	.carousel-caption h4{		
		font-size: 160%;		
	}
	.carousel-caption .btn{		
		font-size: 120%;		
	}
}
@media (max-width: 768px){	
	.carousel-caption {
		top: 20%;
	}
	.carousel-caption h2{
		font-size: 220%;
	}
	.carousel-caption h4{		
		font-size: 140%;
		padding-bottom: 0.2rem;
	}
	.carousel-caption .btn{		
		font-size: 95%;
		padding: 8px 14px;
  }
  .thong-tin-noi-bat{
    margin-top: 220px;
  }
  .sliders{
    transform: none !important;
    bottom: 35px !important;
  }
  .sliders .tap {
    height: 7px !important;
    width: 30px !important;
  }
}
@media (max-width: 576px){
	.carousel-caption {
		top: 10%;
	}
	.carousel-caption h2{
		font-size: 150%;
	}
	.carousel-caption h4{		
		font-size: 110%;		
	}
	.carousel-caption .btn {		
		font-size: 90%;
		padding: 4px 8px;
  }
  .navbar-branch{
    margin-right: 0px !important;
  }	
  .thong-tin-noi-bat{
    margin-top: 305px;
  }
  .sliders{
    transform: none !important;
    bottom: 53px !important;
  }
  .sliders .tap {
    height: 7px !important;
    width: 25px !important;
  }
}
.thong-tin-noi-bat h2{
    font-size: 38px;
    text-align: center;
    margin: 20px 0 20px;
    font-weight: 400;
}
.thong-tin-noi-bat h4{
    color: #757575;
    font-size: 20px;
    text-align: center;
}
/* chay chay */

.carousel-inner img {
    width: 100%;
  
  }
  #demo2{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .option-wrapper{
    position: absolute;
    height: 70%;
    width: 70%;
    padding: 10px;
    z-index: 1;
  }
  
  .left-option-wrapper{
    float: left;
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
  }
  .right-option-wrapper{
    float: right;
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
  }
  .title-nek{
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size:xx-large;
    text-transform: uppercase;
    text-shadow: 5px 5px 15px #000;
    
  }
  .content-nek{
    word-break: break-word;
    text-align: center;
    white-space: pre-wrap;
  }
  .left-option-wrapper-content button{
    position: absolute;
    bottom: 0px;
    right: 20px;
  }
  .right-option-wrapper-content button{
    position: absolute;
    bottom: 0px;
    left: 20px;
  }
  .content-nek{
    color: white;;
    text-shadow: 3px 3px 15px black;
    font-family: 'Roboto', sans-serif;
  }
  .btn-primary{
    background-image: linear-gradient(120deg,#3498db,#8e44ad);
    border: 1px solid transparent;
    transition: .5s;
    background-size: 180%;
  }
  .btn-primary:hover{
    background-position: right;
    border: 1px solid white;
  }
  @media (max-width: 520px){
    .title-nek{
      color: white;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      font-size:small;
      text-transform: uppercase;
      text-shadow: 5px 5px 15px #000;
      
    }
    .content-nek{
      word-break: break-word;
      text-align: center;
      text-indent: -99999px !important;
      visibility: hidden;
    }
    .btn-primary{
      font-size: 10px;
    }
    .left-option-wrapper-content button{
      position: absolute;
      right:40px;
      bottom:15px;
  
    }
    .right-option-wrapper-content button{
      position: absolute;
      left:40px;
      bottom:15px;
  
    }
    .carousel-indicators {
    margin-bottom: 0px;}
    .carousel-indicators li{
      width: 12px;
      height: 2px;
    }
    .carousel-control-next-icon, .carousel-control-prev-icon{
      width: 15px;
      height: 15px;
    }
  }
  .social-media{
    width: 100%;
    text-align: center;
    margin-top: 45px;
}
.social-media ul{
    list-style: none;
    padding-left: 0px;
}
.social-media ul li{
    display: inline-block;
    cursor: pointer;
    padding: 0px 15px;
}
.social-media img{
    height: 35px;
    width: 35px;
    position: relative;
}
.social-media img:hover{
    top: -7px;
    position: relative;
    transition: 1s;
}
.social-media-up{
    margin-top: 33px !important;
}

/* input */
.bbbx{
  border-bottom: 2px solid #adadad;
  position: relative;
  margin: 15px 0px 0px;
  border-bottom-width: 0px;
}
.bbbx input{
  font-size: 15px;
  color: #333;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0px 5px ;
  height: 40px ;
}
.left-input-user-wrapper span::after{
  content: '';
  position: absolute;
  width: 95%;
  height: 2px;
  background:linear-gradient(120deg,#3498db,#8e44ad);
  display: flex;
}
.bbbx input{
  margin-left: 5px;
}
.bbbx p{
  margin-bottom: 0px;
}
.input-tag a{
  border: 1px solid white;
  border-radius: 20px;
  align-items: center;
  background-image: linear-gradient(120deg, #3498db, #8e44ad);
  color:white;
  padding: 0px 8px;
  font-weight: 300;
  
}
.input-tag{
  padding: 10px 10px ;
}
.right-input-user-wrapper textarea{
  height: 70% !important;
  width: 100%;
}
.right-input-user-wrapper input{

  border: 1px solid white;
  border-radius: 20px;
  align-items: center;
  background-image: linear-gradient(120deg, #3498db, #8e44ad);
  color:white;
  padding: 0px 8px;
  font-weight: 300;
}
.right-input-user-wrapper i{
  margin-top: 9px;
}
.container h2{
  text-align: center;
  margin:10px 0px;
}
.container p{
  text-align: center;
}

/* NguyenHuuDuc */
/* .form-item-nhd {
  margin: 10px;
  padding: 0px;
  width: 100% !important;
  background-size: cover;
  background: #ffffff;
} */
.rounded {
  height: 200px;
  width: 100% !important;
  object-fit: cover;
  border-radius: .25rem!important;
}
.image-nhd {
  text-align: center;
  padding: 10px;
}
.image-nhd img {
  display: block;
  margin: 0px;
}
.hashtag-nhd {
  font-size: 15px;
  padding: 3px;
  /* border: 1px solid #555; */
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
}
.content-nhd {
  font-size: 15px;
  max-height: 60px;
  line-height: 28px;
  overflow: hidden;
  margin-bottom: 12px;
}
.content-nhd  a {
  color: #000;
  text-decoration: none;
}

/* copy */
.blog-card{
  position: relative;
  height: 420px;
  width: 100%;
  margin: auto;
  border-radius: 2px;
  background: white;
  /* box-shadow: 0px 10px 50px rgba(252,56,56,.3); */
}
.inner-part{
  position: absolute;
  display: flex;
  height: 410px;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
}
#imgTap:checked ~ .inner-part {
  padding: 0;
  transition: .1s ease-in;
}
.inner-part .img{
  height: 100%;
  width: 100%;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 2px;
  /* box-shadow: 2px 3px 15px rgba(252,56,56,.1); */
}
#imgTap:checked ~ .inner-part .img{
  height: 370px;
  width: 850px;
  z-index: 99;
  margin-top: 10px;
  transition: .3s .2s ease-in;
}
.img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  opacity: 0;
  transition: .6s;
}
#tap-1:checked ~ .inner-part .img-1,
#tap-2:checked ~ .inner-part .img-2,
#tap-3:checked ~ .inner-part .img-3,
#tap-4:checked ~ .inner-part .img-4,
#tap-5:checked ~ .inner-part .img-5,
#tap-6:checked ~ .inner-part .img-6,
#tap-7:checked ~ .inner-part .img-7,
#tap-8:checked ~ .inner-part .img-8{
  opacity: 1;
  transition-delay: .2s;
}
.content{
  padding: 0 20px 0 35px;
  width: 100%;
  margin-left: 50px;
  opacity: 0;
  transition: .6s;
}
#imgTap:checked ~ .inner-part .content{
  display: none;
}
#tap-1:checked ~ .inner-part .content-1,
#tap-2:checked ~ .inner-part .content-2,
#tap-3:checked ~ .inner-part .content-3,
#tap-4:checked ~ .inner-part .content-4,
#tap-5:checked ~ .inner-part .content-5,
#tap-6:checked ~ .inner-part .content-6,
#tap-7:checked ~ .inner-part .content-7,
#tap-8:checked ~ .inner-part .content-8{
  opacity: 1;
  margin-left: 0px;
  z-index: 100;
  transition-delay: .3s;
}
.content-span{
  display: block;
  color: #7b7992;
  font-size: 22px;
  font-weight: 500
}
.content .title{
  font-size: 30px;
  font-weight: 700;
  color: #0d0925;

}
.content .text{
  color: #4e4a67;
  font-size: 19px;
  margin-bottom: 30px;
  line-height: 1.5em;
  height: 95px;
  text-align: justify;
  word-break: break-word;
  overflow: auto;
  text-overflow: ellipsis;
  padding: 5px;
}
.content button{
  display: inline-flex;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff0e6;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  border: 1px solid transparent;
  background:linear-gradient(120deg,#3498db,#8e44ad);
  background-size:180%;
  margin-left: 35px;
}
.content button:hover{
  background-position: right;
}
.sliders{
  position: absolute;
  bottom: 25px;
  left: 65%;
  transform: translateX(-50%);
  z-index: 12;
}
#imgTap:checked ~ .sliders{
  display: none;
}
.sliders .tap{
  position: relative;
  height: 7px;
  width: 40px;
  background: #d9d9d9;
  border-radius: 5px;
  display: inline-flex;
  margin: 0 3px;
  cursor: pointer;
}
.sliders .tap:hover{
  background: #cccccc;
}
.sliders .tap:before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: -100%;
  background:linear-gradient(120deg,#3498db,#8e44ad);
  border-radius: 10px;
  transform: scaleX(0);
  transition: transform .6s;
  transform-origin: left;
}
input[type="radio"],
input[type="checkbox"]{
  display: none;
}
#tap-1:checked ~ .sliders .tap-1:before,
#tap-2:checked ~ .sliders .tap-2:before,
#tap-3:checked ~ .sliders .tap-3:before,
#tap-4:checked ~ .sliders .tap-4:before{
  transform: scaleX(1);
  width: 100%;
}
.show-time-user{
  margin-left: 26px;
}
.padding-0px{
  padding: 0px !important;
}
.left-incard-wrapper-home{
  float: left;
  color: palevioletred;
  font-size: 22px;
}
.right-incard-wapper-home{
  float: right;
}
.right-incard-wapper-home span{
  display: contents;
}

/* chat */
.chat-container {
  background-color: rgb(255, 255, 255);
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 900;
  width: 450px;
 height: 400px;
display: flex;
flex-direction: row;
display: none;
}
.show-list{
  display: block;
}

.aside-left {
  width: 200px;
  
}

.current-conversation {
  width: 450px;
    height: 400px;
    border-radius: 4px;
    
    position: relative;
    box-shadow: 0 1pt 12pt rgba(0, 0, 0, .15) ;
    display: flex;
    flex-direction: column;
}

.aside-top {
  position: absolute;
    top: 0;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid rgb(226, 226, 226);
    line-height: 40px;
    display: flex;
    flex-direction: row;
    line-height: 40px;
}
.aside-top .btn-leave-conversation-wrapper{
  height: 40px;
  line-height: 40px;
}
.list-conversation {
  padding: 10px;
  max-height: 60%;
  overflow-y: auto;
}

.list-conversation>.conversation {
  margin-bottom: 10px;
}

.conversation:hover {
  cursor: pointer;
}

.conversation.current {
  background: #f2f2f2;
}

.conversation-title {
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.conversation-members {
  font-size: 10px;
  font-style: italic;
}

.form-add-conversation {
  padding: 10px;
}

.form-add-conversation>* {
  margin-bottom: 10px;
}

.list-message-chat {
  width: 100%;
  height: calc(100% - 78px);
  padding: 10px;
  overflow-y: auto;
  position: absolute;
  top: 40px;
  border-bottom:  1px solid rgb(226, 226, 226);
}

.list-message-chat>.message-chat {
  margin-bottom: 10px;
}

.message-chat>span {
  max-width: 50%;
  display: inline-block;
  padding: 10px;
  border: 1px solid #4482ff;
  border-radius: 5px;
  color: #4482ff;
  word-break: break-word;
}

.message-chat.your {
  text-align: right;
}

.form-add-message-chat {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 38px;
  display: inline-flex;
  
}

.form-add-message-chat>.input-wrapper {
  width: calc(100% - 120px);
  /* width: 100%; */
  
}
.form-add-message-chat input{
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
  width: 100%;
  height: 100%;
  border: none;
}
.form-add-message-chat button{
  border: none;
  width: 120px;
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
  border-bottom-left-radius: 0%;
}

.details-current-conversation {
  
  display: flex;
  flex-direction: row;
}

.details-current-conversation>* {
  margin-bottom: 10px;
}

.conversation-email {
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 400px;
}

.conversation-created-at {
  font-size: 10px;
  font-style: italic;
  margin-left: 30px;
}

.btn-leave-conversation-wrapper button {
  border: none;
  width: 40px;
  height: 39px;
  background-color: white;
 
}


/* tour */
.tour-deck {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-flow: row wrap;
}
.tour {
  padding: 20px 0px 50px 0px;
}
.img-nhd {
  height: 200px;
  width: 100% !important;
  border-radius: .25rem!important;
  object-fit: cover !important;
}
