body {
    margin: 0px;
    background-color: #FFC400;
    width: 100%;
    height: auto;
}



.menu_top {
    width: 100%;
    height: 50px;
    background-color: rgba(2, 3, 3, 0.84);
    position: fixed;
}

.menu_top ul {
    margin: 0px;
    padding: 0px;
}

.menu_top li {
    list-style: none;
    float: left;
    height: 50px;
    line-height: 50px;
    color: white;
    padding: 0px 20px 0px 20px;
}

#sentence {
    float: right;
    font-style: italic;
    font-weight: 500;
    font-family: arial 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
    color: white;
    font-size: 30px;
}

#account {
    list-style: none;
    float: right;
    /* height: 50px; */
    /* line-height: 50px; */
    color: white;
    /* padding: 0px 20px 0px 20px; */
    margin-right: 35px;

}

#account i {
    font-size: 30px;
    margin-top: 10px;
}
.chen {
    height: 50px;
    background-color: gray;
}

.baner {
    width: 100%;
    height: 500px;
    background-image: url(https://scontent-hkg3-2.xx.fbcdn.net/v/t1.15752-9/s2048x2048/80673844_3058626950865033_8187647463767670784_n.jpg?_nc_cat=110&_nc_ohc=qOQQjoVma68AQlYoAxL46uHNapI91z-vD0j9Ja59nudsk-whGnuyHL3QA&_nc_ht=scontent-hkg3-2.xx&oh=4b8b2af4ead217af732eb80a280cf213&oe=5E76CC06);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}


.bg-blur {
    background-color: rgba(1, 1, 1, 0.3);
}


.clock {
    font-family: sans-serif;
    bottom: 0px;


}

.heading {
    color: white;
    font-size: 150px;
    text-shadow: 5px 5px 5px black
}


/* ************************************** */
/* .banner {
    width: 100%;
    height: 518px;
    background-image: url(https://scontent.fhan2-2.fna.fbcdn.net/v/t1.15752-9/s2048x2048/80005284_495165467783395_3666147757032210432_n.jpg?_nc_cat=102&_nc_oc=AQkpkZYIcxb3tjBvgT4CwZfuOvHwIQSvnt9jVK9z75u-rvJCM9RB67cE1jFW65gqisA&_nc_ht=scontent.fhan2-2.fna&oh=d843e74f092077f26f5a90997bf005c5&oe=5E70E543);
    background-size: cover;
} */

/* ********************************* */
.main {
    width: 100%;
    height: 1500px;
    /* background-color: white; */
}

.main header p {
    text-align: center;
    padding-top: 50px;
    margin-top: 0px;
    font-weight: 800;
    font-size: 50px;
}

.row p {
    text-align: center;
    padding-top: 50px;
    margin-top: 0px;
}

.picture1 {
    text-align: center;
    height: 500px;
}

.picture1 img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-left: 10px;
    transition: 0.6s;
}

#left {
    width: 33.3%;
    float: left;
}

#mid {
    width: 33.3%;
    float: left;
}

#right {
    width: 33.3%;
    float: right;
}

/* .picture1 a{
    float: left;
    margin-left: 150px;
}
.picture1 p {
        padding-top: 200px;
}
.picture1 a p{
    clear: left;
    padding-left: 20px;
} */

.footer {
    width: 100%;
    height: 100px;
    background-color: rgb(46, 14, 14);
    margin: auto;

}

.left {
    width: 40%;
    height: 80px;
    float: left;
    text-align: center;
}

.p {
    text-align: center;

    /* margin: 6px 0px 0px 100px; */
}

.block {
    margin: auto;
}

.mid {
    width: 10%;
    /* background-color: black; */
    height: 80px;
    float: left;
    text-align: center;

}

.mid img {
    width: 50px;
    height: 50px;
    line-height: 100px;
    margin-top: 15px;
    border-radius: 50%;
}

.right {
    width: 40%;
    /* background-color: whitesmoke; */
    height: 80px;
    float: left;
    margin: 0px 0px 0px 100px;

}
.fixText{
    text-decoration: none;
    color: black;
}

.right p {
    font-weight: 500;
    line-height: 10px;
}

.right a {
    border-radius: 50%;
    background-color: #363a45;
    width: 20px;
    height: 20px;
    color: #fff;
    float: left;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 12px;
    margin-right: 30px;
}

.picture1 img:hover{
    height: 420px;
    width: 420px;
    transition: 0.6s;

}