body {
    margin: 0;
    font-family: Noto Sans, Arial, sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #464646;
    text-align: left;
    background-color: #FFC400;
    width: 100%;
}

.menu_top {
    width: 100%;
    height: 50px;
    background-color: rgba(2, 3, 3, 0.84);
    position: fixed;
    z-index: 9;
}

.menu_top ul {
    margin: 0px;
    padding: 0px;
}

.menu_top li {
    list-style: none;
    float: left;
    height: 50px;
    line-height: 50px;
    color: white;
    padding: 0px 20px 0px 20px;
}
.fad::after{
    padding-right: 50px;
}

#sentence {
    float: right;
    font-style: italic;
    font-weight: 500;
    font-family: arial 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
    color: white;
    font-size: 30px;
}

#account {
    list-style: none;
    float: right;
    /* height: 50px; */
    /* line-height: 50px; */
    color: white;
    /* padding: 0px 20px 0px 20px; */
    margin-right: 35px;

}

#account i {
    font-size: 30px;
    margin-top: 10px;
}
#menuTopCart{
    padding: 0px;
    float: right;
    color: white;
    font-size: 26px;
  }
  #menuTopDem{
    list-style: none;
    float: right;
    color: white;
    margin-right: 5px;
    font-size: 26px;
    padding-left: 10px;
  }
  .chen{
    height: 50px;
    background-color: gray;
  }

  .baner {
    width: 100%;
    height: 500px;
    background-image: url(https://scontent-hkg3-2.xx.fbcdn.net/v/t1.15752-9/s2048x2048/80673844_3058626950865033_8187647463767670784_n.jpg?_nc_cat=110&_nc_ohc=qOQQjoVma68AQlYoAxL46uHNapI91z-vD0j9Ja59nudsk-whGnuyHL3QA&_nc_ht=scontent-hkg3-2.xx&oh=4b8b2af4ead217af732eb80a280cf213&oe=5E76CC06);
    /* background-image: url(https://scontent.fhan5-7.fna.fbcdn.net/v/t1.15752-9/81662667_603590483729323_2634298489986613248_n.png?_nc_cat=103&_nc_ohc=x-Z6nJU4DCsAQnjjX_ulN-ds-Gs7c-z1d4x9cvIUBZgG2xBqnh63wnsPQ&_nc_ht=scontent.fhan5-7.fna&oh=f8c6a8096bf5e1b1ae695749b8abe662&oe=5EA96B8F); */
    /* background-image: url(./banner.png); */
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  
  /* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */
  
  .bg-blur {
    background-color: rgba(1, 1, 1, 0.3);
  }
  
  
  .clock{
    font-family: sans-serif;

  
    
  }
  .heading {
    color:white;
    font-size: 150px;
    text-shadow: 5px 5px 5px black
  }
  
.dcmm {
    width: 100%;

    border-radius: 6px;
    margin-bottom: 20px;
    position: relative; 
}

.wrap {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.wrap p {
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    color: black ;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    
}
#danh-sach-san-pham{
    width: 100%;
    padding-top: 50px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.food {
    width: calc((100% / 6) - 10px);
    background-color: white;
    float: left;
    margin: 5px;
    border-radius: 5%;
}

.ava {
    margin: auto;
    text-align: center;
}

.ava img {
    width: 100%;
    border-radius: 5%;
}

.name {
    text-transform: capitalize;
}
.random{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    text-decoration: none;
}
.name h3 {
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: black;
    padding: 5px;
    margin: auto;
}

.name h4 {
    font-size: 13px;
    color: #959595;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: auto;
    padding: 5px;
}

.name p {
    padding: 5px;
    font-size: 12px;
    color: #959595;
    text-transform: uppercase;
    margin: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
}

.main {
    padding-top: 40px;
    overflow: hidden;
    clear: both;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: rgb(46, 14, 14);
    margin: auto;
}

.left {
    width: 40%;
    height: 80px;
    float: left;
    text-align: center;
}

.p {
    text-align: center;

    /* margin: 6px 0px 0px 100px; */
}

.block {
    margin: auto;
}

.mid {
    width: 10%;
    /* background-color: black; */
    height: 80px;
    float: left;
    text-align: center;

}

.mid img {
    width: 50px;
    height: 50px;
    line-height: 100px;
    margin-top: 15px;
    border-radius: 50%;
}

.right {
    width: 40%;
    /* background-color: whitesmoke; */
    height: 80px;
    float: left;
    margin: 0px 0px 0px 100px;

}

.right p {
    font-weight: 500;
    margin: 16px;
    margin-left: 0px;
}

.right a {
    border-radius: 50%;
    background-color: #363a45;
    width: 20px;
    height: 20px;
    color: #fff;
    float: left;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 12px;
    margin-right: 30px;
}